@model IEnumerable<Student>
@{
    ViewData["Title"] = "List";
}
<h2>Student List</h2>
<hr>
<a href="/Student/Create" class="btn btn-dark btn-sm mb-3">Create Student</a>
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width: 75px;">Id</th>
                <th>@Html.DisplayNameFor(m => m.StudentName)</th>
                <th>@Html.DisplayNameFor(m => m.StudentSurname)</th>
                <th>@Html.DisplayNameFor(m => m.StudentEmail)</th>
                <th>@Html.DisplayNameFor(m => m.StudentPhone)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@*buraya for döngüsü gelecek*@</td>
                    <td>@Html.DisplayFor(x => item.StudentName)</td>
                    <td>@Html.DisplayFor(x => item.StudentSurname)</td>
                    <td>@Html.DisplayFor(x => item.StudentEmail)</td>
                    <td>@Html.DisplayFor(x => item.StudentPhone)</td>
                    <td>
                        <a asp-controller="Student" asp-action="Edit" asp-route-id="@item.StudentId" class="btn btn-secondary">Edit</a>
                        <a asp-controller="Student" asp-action="Delete" asp-route-id="@item.StudentId" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>